.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  height: auto;
  color: #101115;
}

.icon {
  border-radius: 8px;
}