.app {
  background-color: #f2f4f7;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; 
  justify-content: flex-start;
  align-items: stretch;   
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
